@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* Light/dark mode */
html > body.light-mode {
    color: #202020;
    fill: #202020;
    background-color: #DFDFDF;
    transition: color 1s, fill 1s, background-color 1s;
}
html > body.dark-mode {
    color: #DFDFDF;
    fill: #DFDFDF;
    background-color: #202020;
    transition: color 1s, fill 1s, background-color 1s;
}
body.light-mode .background-alt {
    background-color: #CFCFCF;
}
body.dark-mode .background-alt {
    background-color: #303030;
}
.brightness-toggle-container {
    position: absolute;
    left: 0; top: 0;

    display: flex;
    justify-content: center;
}
.brightness-toggle {
    padding-top: 2.5vh;
    padding-left: 2.5vh;
    font-size: 5vh !important;
    transform-origin: 0 0;
}
.brightness-toggle:hover {
    cursor: pointer;
}
.light-icon.brightness-toggle-initial, .dark-icon.brightness-toggle-initial {
    animation-duration: 0s !important;
}
.light-mode .light-icon {
    transform: rotate(360deg);
    animation-duration: 1s;
    animation-name: rotate-show;
    z-index: 2;
}
.light-mode .dark-icon {
    transform: rotate(180deg);
    animation-duration: 1s;
    animation-name: rotate-hide;
    z-index: 1;
}
.dark-mode .light-icon {
    transform: rotate(180deg);
    animation-duration: 1s;
    animation-name: rotate-hide;
    z-index: 1;
}
.dark-mode .dark-icon {
    transform: rotate(360deg);
    animation-duration: 1s;
    animation-name: rotate-show;
    z-index: 2;
}
@keyframes rotate-hide {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes rotate-show {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.light-mode .brightness-toggle:hover {
    color: black;
    transition: color 1s;
}
.dark-mode .brightness-toggle:hover {
    color: white;
    transition: color 1s;
}
.light-mode .portfolio-image .portfolio-video-label {
    background-color: rgba(100%, 100%, 100%, 60%);
}
.dark-mode .portfolio-image .portfolio-video-label {
    background-color: rgba(0%, 0%, 0%, 60%);
}
.light-mode .portfolio-video-overlay {
    background-color: rgba(100%, 100%, 100%, 60%);
}
.dark-mode .portfolio-video-overlay {
    background-color: rgba(0%, 0%, 0%, 60%);
}

/* Global styles */
div,h1,h3,p,ul {
    font-family: "Roboto Mono", monospace;
}
ul {
    list-style-type: "- ";
}
a {
    color: inherit;
}
h1 {
    font-size: 4vh;
    margin-block-start: 1.33vh;
    margin-block-end: 1.33vh;
}
h2 {
    font-size: 3vh;
    margin-block-start: 1.67vh;
    margin-block-end: 1.67vh;
}
h3 {
    font-size: 2.34vh;
    margin-block-start: 2vh;
    margin-block-end: 2vh;
}
p {
    font-size: 2vh;
    margin-block-start: 2vh;
    margin-block-end: 2vh;
}
ul {
    margin-block-start: 2vh;
    margin-block-end: 2vh;
    padding-inline-start: 4vh;
}
ul ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
li {
    font-size: 1.67vh;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.material-symbols-outlined {
    font-size: 2.5vh;
    user-select: none;
}

/* Content styles */
:root {
    --portfolio-item-width: calc(86vw - 16vh);
}
body {
    margin: 0;
    /*noinspection CssInvalidPropertyValue*/
    overflow: overlay; /* prevents scrollbars from affecting vw/vh */
}
.full-page {
    padding: 5vh 5vw 5vh 5vw;
    width: 90vw;
    min-height: 90vh;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro-logo {
    width: 50vh;
    height: 50vh;
}
.intro-subtitle {
    text-align: center;
    margin-bottom: 4vh;
}
.intro-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.intro-links > * {
    padding: 0 2vh 0 2vh;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bio-left {
    max-width: 30%;
}
@media only screen and (max-device-width: 960px) {
    .bio {
        flex-direction: column-reverse;
    }
    .bio-left {
        padding: 2vh;
        max-width: calc(100% - 4vh);
    }
}

.portfolio-row {
    padding: 2vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.portfolio-switcher {
    font-size: 8vh;
}
.portfolio-track {
    width: var(--portfolio-item-width);
    overflow-x: hidden;
}
.portfolio-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    min-height: 70vh;

    transition: transform 1s;
}
.portfolio-content-item {
    flex-basis: calc(var(--portfolio-item-width) - 4vh /* horizontal padding */);
    flex-shrink: 0;
    flex-grow: 0;
    overflow-x: hidden;

    padding: 2vh;

    display: grid;
    grid-gap: 2vh;
    grid-template-areas:
            "top-left     top-left     top-left     top-left     top-left     top-right    top-right    top-right    top-right    top-right    "
            "bottom-left  bottom-left  bottom-left  bottom-right bottom-right bottom-right bottom-right bottom-right bottom-right bottom-right ";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(10, 1fr);
}
@media only screen and (max-device-width: 960px) {
    :root {
        --portfolio-item-width: 86vw;
    }
    .portfolio-content-item {
        grid-template-areas:
                "bottom-left"
                "bottom-right"
                "top-left"
                "top-right";
        grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-switcher {
        display: none;
    }
    .portfolio-content {
        transition: transform 0.25s;
        transition-timing-function: cubic-bezier(.17,.67,.83,.67);
    }
    .portfolio-content-being-dragged {
        transition: transform 0s;
    }
}

.portfolio-image,.portfolio-video {
    background-size: cover;
    background-position: center;
    padding: 0 !important;
}
.portfolio-image,.portfolio-video-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.portfolio-image {
    align-items: stretch;
}
.portfolio-video-overlay {
    padding: 2vh;
    width: calc(100% - 4vh);
    height: calc(100% - 4vh);

    align-items: center;
}
.portfolio-video-play-button {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8vh;
}
.portfolio-video-label {
    margin: 0;
    padding: 2vh;
}
.portfolio-image-0-left {
    background-image: url("/res/wall_mounted_camera.png");
}
.portfolio-image-0-right {
    background-image: url("/res/livestreaming_software_setup.png");
}
.portfolio-image-1-left {
    background-image: url("/res/isee_openssl_patches.png");
}
.portfolio-image-1-right {
    background-image: url("/res/isee_final_presentation.jpg");
}
.portfolio-image-2-left {
    background-image: url("/res/layerone_short_demo_thumb.png");
}
.portfolio-image-2-right {
    background-image: url("/res/layerone_long_demo_thumb.png");
}

.portfolio-item-top-left {
    grid-area: top-left;
}
.portfolio-item-top-right {
    grid-area: top-right;
}
.portfolio-item-bottom-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.portfolio-item-bottom-left {
    grid-area: bottom-left;
}
.portfolio-item-bottom-right {
    grid-area: bottom-right;
}
.portfolio-item-section-contentful {
    padding: 2vh;
}
.portfolio-switch-indicator {
    display: flex;
    gap: 1vh;
}
.portfolio-switch-indicator * {
    font-size: 2vh;
}

.contact-email {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.email-name {
    font-size: 2vh;
    margin-block-start: 2vh;
    margin-block-end: 2vh;
}
